body{
  margin: 0;
  padding: 0;
  color: white;
  background: url("images/atom background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #37295a;
}

/*navbar*/

.navbar{
  width: 100%;
  height: 150px;
  background-color: #2c2342;
  padding: 0;
  padding-left: 20px;
}

.navbar img{
  width: 7%;
  height: auto;
}

.navitems{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
}

.navitems a{
    color: white !important;
}

.nav-link ,.navbar-brand{
  font-size: 1.4rem
}

.fa.fa-navicon {
  color:white;
}

#avatar{
  position:absolute;
  top:4px;
  right:10px;
  width:6vw;
}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1 rem .1rem .8rem black;
  padding-bottom:1 rem;
}
.caption h3{
  font-size: 2 rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6 rem;
}
.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}


.btn-secondary {
  border-width: medium;
  border-radius: 20px;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color:#3dff3e;
  background-color: #3dff3e;
  color: #0F7F3F;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #0D9949;
  background-color: #3dff3e;
}

/*cards*/

.boxes{
  width: 100%;
  padding: 80px 50px 50px 50px;
}

.card{
   margin: 30px 35px !important;
}

.border-8 {
    border-width:8px !important;
}

.overlaybottom{
  position: absolute;
  height: 0;
  background-color: #2c2342;
  color: white;
  opacity: .8;
  top: 100%;
  width: 100%;
  overflow: hidden;
  transition: 0.5s ease;
}

#test1:hover .overlaybottom , #test2:hover .overlaybottom , #test3:hover .overlaybottom , #test4:hover .overlaybottom , #test5:hover .overlaybottom , #test6:hover .overlaybottom , #test7:hover .overlaybottom , #test8:hover .overlaybottom , #test9:hover .overlaybottom , #test10:hover .overlaybottom{
  top: 0;
  height: 100%;
}

.content h3{
  text-align: center;
}

.content p{
  padding: 0 6px;
}
.content hr{
  text-align: center;
  width: 80%;
  border: 1px solid white
}
.grid{
  width:90%;
  height:500px;
  margin:0 auto;
  background-color:#3f3069;
  padding:50px 50px 50px 50px;
  border-radius:50px;
  border:2px solid #333;
  box-shadow:10px 15px 5px #333;
  padding-bottom:100px;

}










@media only screen and (max-width: 500px) {
  .navbar img{
    width: 23% !important;
    height: auto;
  }

  .navbar{
    width: 100%;
    height: 120px;
  }

  .navbar-expand-lg{
    margin-top:60px !important;
  }

  .fa-align-justify{
    margin-top: 6px;
  }

  .card{
     margin: 20px 6px !important;
  }

  .nav-link ,.navbar-brand{
    font-size: 1rem
  }

  #avatar{
    width: 12vh !important;
  }
}
