body{
  margin: 0;
  padding: 0;
  color: white;
  background: url("images/atom background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #37295a;
  overflow-x: hidden;
}

a{
  color: white;
  font-weight: 900;
}
a:hover{
  text-decoration: none;
}

/*navbar*/

.navbar{
  width: 100%;
  height: 150px;
  background-color: #2c2342;
  padding: 0;
  padding-left: 20px;
}

.navbar img{
  width: 7%;
  height: auto;
}

.navitems{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
}

.navitems a{
    color: white !important;
}

.nav-link ,.navbar-brand{
  font-size: 1.4rem
}

.fa.fa-navicon {
  color:white;
}

#avatar{
  position:absolute;
  top:4px;
  right:10px;
  width:5vw;
}

.collapse{
  background: #2c2342 !important;
  z-index: 2;
  /* width: 20vh !important; */
}
.caption{
  width: 100%;
  max-width: 100%;
  position: absolute;
  top:38%;
  z-index: 1;
  color: white;
  text-transform: uppercase;
}
.caption h1{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1 rem .1rem .8rem black;
  padding-bottom:1 rem;
}
.caption h3{
  font-size: 2 rem;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6 rem;
}
.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}


.btn-secondary {
  border-width: medium;
  border-radius: 20px;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color:#3dff3e;
  background-color: #3dff3e;
  color: #0F7F3F;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #0D9949;
  background-color: #3dff3e;
}

/*cards*/

.boxes{
  width: 100%;
  padding: 80px 50px 0 50px;
}

.card{
   margin: 30px 35px !important;
}

.cardheight{
  height: 35vh !important;
}

.name{
  font-size: 20px !important;
}

.border-8 {
    border-width:8px !important;
}

.overlaybottom{
  position: absolute;
  height: 0;
  background-color: #2c2342;
  color: white;
  opacity: .8;
  top: 100%;
  width: 100%;
  overflow: hidden;
  transition: 0.5s ease;
}

#test1:hover .overlaybottom , #test2:hover .overlaybottom , #test3:hover .overlaybottom , #test4:hover .overlaybottom , #test5:hover .overlaybottom , #test6:hover .overlaybottom , #test7:hover .overlaybottom , #test8:hover .overlaybottom , #test9:hover .overlaybottom , #test10:hover .overlaybottom{
  top: 0;
  height: 100%;
}
.content 
{
  overflow-y:scroll;
  scrollbar-color: auto;
}
.content h3{
  text-align: center;
}

.content p{
  padding: 0 6px;
  font-size: 14px;
}
.content hr{
  text-align: center;
  width: 80%;
  border: 1px solid white
}

/* tests */
.grid{
  width:80%;
  height:450px;
  margin-top: 8%;
  background-color:#3f3069;
  padding:50px 50px 50px 50px;
  border-radius:50px;
  border:2px solid #333;
  box-shadow: 4px 4px 4px #333;
  padding-bottom:100px;
  margin-left: auto;
  margin-right: auto;

}


/*footer*/


footer{
  background-color: #40474e;
  color: white;
  padding: 4rem;

margin-top: 2rem;
text-align: center;
  background-image: url("images/footer.jpg");
  background-blend-mode: multiply;
  background-size: cover;
}
footer img{
  height: 10rem;
  margin: 1.5rem 0rem;
}
footer a{
  color: white;
}
footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0rem 0rem;
}
footer svg.svg-inline--fa:hover{
  color: #1EBBA3!important;
}
footer .fab{
  font-size: 2rem;
  margin: 1rem;

}
hr.socket {
  width: 100%;
  border-top: .2rem solid #666b71;
}
.home-inner{
  background-image: url("images/atom background.png");
  background-blend-mode: multiply;
  position: absolute;
}
.home-inside{
  background-image: url("images/phy project back side.png");
  z-index: 2;
  position: relative;
}
.offset::before{
  display: inline-block;
  content: "";
  height: 1rem;
  margin: 5rem;
}
.footerone::before{
 display: inline-block;
 content: "";
 height: 1rem;
 margin: 15rem !important;
}
blockquote .svg-inline--fa{
  color: #1EBBA3;
  margin: 1rem;
}
.offset::before{
  display: inline-block;
  content: "";
  height: 1rem;
  margin: 5rem;
}
.footerone::before{
 display: inline-block;
 content: "";
 height: 1rem;
 margin: 15rem !important;
}
h2{
  font-size: 4rem;
}

h2{
  font-size: 4rem;
}
/* Team-page*/
.overlaybottom{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
}
/*footer*/



@media only screen and (max-width: 500px) {
  .navbar img{
    width: 23% !important;
    height: auto;
  }

  .navbar{
    width: 100%;
    height: 120px;
  }

  .navbar-expand-lg{
    margin-top:60px !important;
  }

  .fa-align-justify{
    margin-top: 6px;
  }

  .grid{
    height: 500px;
  }

  .card{
     margin: 20px 6px !important;
  }

  .nav-link ,.navbar-brand{
    font-size: 1rem
  }
  .offset::before{
    display: inline-block;
    content: "";
    height: 1rem;
    margin: 3rem;

  }
   .footerone::before{
    display: inline-block;
    content: "";
    height: 1rem;
    margin: 17rem !important;
  }

  #avatar{
    width: 10vh !important;}
}

 .cardheight{
    height: 40vh !important;
  }
  .offset::before{
    display: inline-block;
    content: "";
    height: 1rem;
    margin: 3rem;

  }
   .footerone::before{
    display: inline-block;
    content: "";
    height: 1rem;
    margin: 17rem !important;
  }


.buttons label{
  display: inline !important;
}
